
h1.topic-title {
    text-transform: capitalize;
    text-align: center;
}
.article {
    width:600px;
    background-color: #ececec;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    padding:0 20px;
}
.article .profile-pic {
    width: 35px;
    height:35px;
    border-radius:100%;
    float:unset;
    margin-right:10px;
}
.articles a {
    text-decoration: none;
    color:inherit;
}
.article .body {
    max-height: 100px;
    overflow: hidden;
}
.article-info {
    border-bottom: 1px solid #21b8ef;
    display:flex;
    align-items: center;
    padding:10px 0 5px;
    color:#21b8ef;
    position: relative;
}
.article-info > *{
    display:inline-block;
    margin:0;
}
.article-info > p{
    font-size:0.85em;
    padding:0 5px;
}
.article-info .topic {
    position: absolute;
    font-weight:bold;
    right:20px;
    font-size: 1em;
}
.comments:before {
    content:'\f086';
    font-family: fontawesome;
    padding-right:5px;
    color:#4fd0ff;
}

.likeDiv{
    display:inline-flex;
    align-items: center;
}

.heart {
    display:inline-block;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( '/like_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
    margin-right: -10px;
    margin-bottom: -1px;
  }
  .heart:hover {
    background-position:right;
  }
  .is_animating {
    animation: heart-burst .8s steps(28) ;
    background-position:right;
  }
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }

.art-interactions {
    margin-top:10px;
    display: flex;
    align-items: center;
    padding-left:10px;
}
.art-interactions > * {
    padding-right:20px;
}

/* Media Queries */
@media (max-width:767px) {
    .article {
        width:100%;
    }
}