.individual-article {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'main main sidebar '
    'main main .';
}
.individual-article .article {
    display:block;
    margin: 10px;
    width:unset;
}
.individual-article .sidebar {
    background-color:#ececec;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    grid-area: sidebar;
    min-width:200px;
}
.primary-color {
    color:#21b8ef;
}
.individual-article .article {
    grid-area: main
}
.individual-article .sidebar .profile-pic {
    margin-right:20px;
} 
.individual-article .sidebar p{
    margin: 0 0 10px 0;
}
.individual-article .article .body {
    max-height: unset;
}
.individual-article .topic {
    position: unset
}
.individual-article .article-info {
    padding:10px 0
}
button.back {
    border:none;
    background-color: #21b8ef;
    padding: 5px 10px;
    border-radius: 5px;
    font:unset;
    color:#fff;
    margin:20px 10px;
    cursor:pointer;
}
.individual-article .profile {
    margin-bottom: 80px;
}
button.viewProfile {
    border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #21b8ef;
  color: white;
  font: unset;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}