.individual-article article, .individual-article aside {
    background-color:#ececec;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.individual-article aside a{
    color: inherit;
    text-decoration: none;
}
.individual-article .see-profile {
    margin-top:60px;
}
.individual-article .see-profile a:hover {
    text-decoration: none;
}
.individual-article aside .profile-pic {
    margin-right:20px;
} 
.individual-article aside .profile > p {
    margin: 10px 0;
} 
.primary-color {
    color:#21b8ef;
}
.individual-article .topic {
    position: unset
}
.individual-article .article-info {
    padding: 0 0 10px;
}
button.back {
    border:none;
    background-color: #21b8ef;
    padding: 5px 10px;
    border-radius: 5px;
    font:unset;
    color:#fff;
    margin:20px 10px;
    cursor:pointer;
}

button.viewProfile {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #21b8ef;
  color: white;
  font: unset;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

@media(max-width:991px) {
    .individual-article aside {
        display: flex;
         justify-content: space-between;
         align-items: center;
}
    .individual-article aside .see-profile {
        margin-top:0;
    }
    .individual-article aside .profile .profile__info {
        display: inline-block;
        max-width:110px;
    }
}
@media(max-width:400px) {

    .individual-article aside .see-profile {
        display:none
    }
    
}
