.error-username {
    position: absolute;
    background-color:#ed704e;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 700;
    top: -10px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, -100%);
}
.error-username p {
    margin: 0;
}
.error-username i {
    padding-right: 5px;
}