.error-container {
    text-align: center;
    background-color: #e0f6ff;
    height: 100vh;
}

.error-container .error {
    background-color: #fff;
    width:300px;
    margin: 0 auto;
    border-radius:20px;
    box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.6);
    display: block;
    justify-content: center;
    padding: 40px 20px;;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: 50vh auto 0;
    left: 50%;
    transform: translate(-50%, -60%);

}
.error-container .message {
    text-transform: capitalize
}
.error-container .code {
    font-size:70px;
    font-weight:700;
    color: #21b8ef
}
.error-container button {
    border:none;
    padding: 5px 15px;
    border-radius: 10px;
    background-color:#21b8ef;
    color:white;
    font:unset;
    cursor: pointer;
    margin-top:20px;

}
.error-container button i {
    padding-right:5px;
}