.post-article-box__container {
    text-align: center;
}
.post-article-box{
   display:inline-block;
    padding:15px 20px;
    background-color: #ececec;
    border-radius: 10px;
    margin-bottom: 20px;
    width:100%;
    text-align: center
}
.post-article-box input, .post-article-box textarea {
    display: block;
    margin-left: 90px;
    padding: 6px 10px;
    border-radius:5px;
    border: 1px #ccc solid;
    font-size:12px;
    color:#474747;
    margin-bottom: 10px;
    width: calc(98% - 80px);
}
.post-article-box textarea {
    min-height: 80px;
}
input::placeholder, textarea::placeholder {
    color:#ccc;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
.form-components {
    float:right;
}
.post-article-box h3 {
    margin-top:0;
}
.post-article-box .select-container {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    border-left: 50px #21b8ef solid;
    position: relative;
    vertical-align: middle
}
.post-article-box .select-container:before {
    content:'Topic';
    color:white;
    position: absolute;
    left:-42px;
    top:6px;
    font-size:14px;
}
.post-article-box select{
   background-color: transparent;
   height:30px;
   border: none;
   border-left:50px;
   padding: 0 10px;
   text-transform: capitalize;
}
.post-article-box select:disabled{
    -webkit-appearance: none;
    color: #ccc;
}
.post-article-box button {
    background-color: #21b8ef;
    color:white;
    border:none;
    padding: 5px 15px;
    border-radius:8px;
    font:unset;
    font-size:14px;
    margin-left:10px;
    vertical-align: middle;
    cursor: pointer;
}

@media (max-width: 575px) {

    .post-article-box .profile-pic {
        display:none;
    }
    .form-components {
        float:unset;
    }
    .post-article-box input, .post-article-box textarea {
        width:100%;
        margin-left:0;
    }
    .post-article-box textarea {
       min-height: 80px;
    }
}